@use '@/styles/variables.scss' as *;

.page {
  min-height: 100vh;
}

.unknown {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.unknownText {
  font-size: $font-size-lg;
  color: $color-text-tertiary;
}
